/.bundle/
/.yardoc
/dev/
/test/
/Gemfile.lock
/_yardoc/
/.directory/
/bak/
deploy.sh
/website/
/local_test/
/CODE_OF_CONDUCT.md
/coverage/
/doc/
/_vendor/
/notes/
/pkg/
/spec/reports/
/tmp/
/**/*.sass-cache
/style/**/*.sass-cache
